.hide-svg {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.show-svg {
  opacity: 1;
  visibility: visible;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

@keyframes draw {
  from {
    stroke-dasharray: 0, 300;
    stroke-dashoffset: 300;
  }
  to {
    stroke-dasharray: 300, 0;
    stroke-dashoffset: 0;
  }
}

.animate-path {
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 3s ease-out forwards;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s;
}

.fade-icon path {
  animation-delay: 2s;
  z-index: 10000;
}

.fade-stroke path {
  transition: stroke 2s ease-in-out;
}

.circuit-animation {
  cursor: pointer;
  filter: drop-shadow(0 0 2px rgba(238, 162, 21, 0.1));
  transition: filter 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.circuitAnimation-container {
  pointer-events: auto;
  position: relative;
}
