.form-it-svg {
  cursor: pointer;
  filter: drop-shadow(0 0 2px rgba(238, 162, 21, 0.1));
  transition: filter 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;

}

.form-it-svg path {
  transition: fill 0.3s ease-in-out;
}

.form-it-svg.hovered {
  filter: drop-shadow(0 0 12px rgba(238, 162, 21, 0.7));
}

.form-it-svg.clicked {
  filter: drop-shadow(0 0 20px rgba(52, 230, 221, 1));
}
